In [2]:
#Chance of Admission for higher studies

'''predict the chance of admission of a student to a gradute based on :-
    1. GRE scores(290-340)
    2. TOEFL scores(92 to 120)
    3.University rating(1to 5)
    4. statement of pursose(1 to 5)
    5. letter of recommendation strenght (1to 5)
    6. undergraduate CGPA (6.8 to 9.92)
    7.Ressearch experience (1 or 0)
    8. chane of admit(0.34 to 0.97)'''

'predict the chance of admission of a student to a gradute based on :-\n    1. GRE scores(290-340)\n    2. TOEFL scores(92 to 120)\n    3.University rating(1to 5)\n    4. statement of pursose(1 to 5)\n    5. letter of recommendation strenght (1to 5)\n    6. undergraduate CGPA (6.8 to 9.92)\n    7.Ressearch experience (1 or 0)\n    8. chane of admit(0.34 to 0.97)'

In [3]:
#step 1 ;-import library
import pandas as pd

In [4]:
admission=pd.read_csv('https://github.com/ybifoundation/Dataset/raw/main/Admission%20Chance.csv')

In [5]:
admission.head()

,Serial No,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit
0,1,337,118,4,4.5,4.5,9.65,1,0.92
1,2,324,107,4,4.0,4.5,8.87,1,0.76
2,3,316,104,3,3.0,3.5,8.00,1,0.72
3,4,322,110,3,3.5,2.5,8.67,1,0.80
4,5,314,103,2,2.0,3.0,8.21,0,0.65

In [6]:
admission.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 400 entries, 0 to 399
Data columns (total 9 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Serial No          400 non-null    int64
 1   GRE Score          400 non-null    int64
 2   TOEFL Score        400 non-null    int64
 3   University Rating  400 non-null    int64
 4    SOP               400 non-null    float64
 5   LOR                400 non-null    float64
 6   CGPA               400 non-null    float64
 7   Research           400 non-null    int64
 8   Chance of Admit    400 non-null    float64
dtypes: float64(4), int64(5)
memory usage: 28.2 KB

In [8]:
admission.describe()

,Serial No,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit
count,400.000000,400.000000,400.000000,400.000000,400.000000,400.000000,400.000000,400.000000,400.000000
mean,200.500000,316.807500,107.410000,3.087500,3.400000,3.452500,8.598925,0.547500,0.724350
std,115.614301,11.473646,6.069514,1.143728,1.006869,0.898478,0.596317,0.498362,0.142609
min,1.000000,290.000000,92.000000,1.000000,1.000000,1.000000,6.800000,0.000000,0.340000
25%,100.750000,308.000000,103.000000,2.000000,2.500000,3.000000,8.170000,0.000000,0.640000
50%,200.500000,317.000000,107.000000,3.000000,3.500000,3.500000,8.610000,1.000000,0.730000
75%,300.250000,325.000000,112.000000,4.000000,4.000000,4.000000,9.062500,1.000000,0.830000
max,400.000000,340.000000,120.000000,5.000000,5.000000,5.000000,9.920000,1.000000,0.970000

In [9]:
admission.columns

Index(['Serial No', 'GRE Score', 'TOEFL Score', 'University Rating', ' SOP',
       'LOR ', 'CGPA', 'Research', 'Chance of Admit '],
      dtype='object')

In [13]:
y=admission['Chance of Admit ']
x=admission.drop(['Serial No','Chance of Admit '],axis=1)

In [15]:
#step 4;-train test split
from sklearn.model_selection import train_test_split

x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.7,random_state=2529)

In [16]:
#check the shape of train and test sample
x_train.shape,x_test.shape,y_train.shape,y_test.shape

((120, 7), (280, 7), (120,), (280,))

In [19]:
#select model
from sklearn.linear_model import LinearRegression

model=LinearRegression()

#step 6 train the model
model.fit(x_train,y_train)

LinearRegression()

In [20]:
model.intercept_

-1.2716389264411077

In [21]:
model.coef_

array([ 0.00230468,  0.00029932,  0.00506933, -0.00173531,  0.01901861,
        0.13508245,  0.01323268])

In [28]:
#step 7 predict model
y_pred = model.predict(x_test)

In [29]:
y_pred

array([0.72223845, 0.73152645, 0.71286927, 0.68451388, 0.58333999,
       0.93925744, 0.95057884, 0.74316891, 0.81512971, 0.63912785,
       0.60415897, 0.80462548, 0.53562068, 0.80697003, 0.84449099,
       0.67451112, 0.66132448, 0.69901251, 0.76239113, 0.87116709,
       0.65822873, 0.86014575, 0.85973063, 0.95518852, 0.71118848,
       0.6544968 , 0.67160084, 0.58228874, 0.56569131, 0.5733592 ,
       0.55032727, 0.7593415 , 0.71979142, 0.78946351, 0.6277386 ,
       0.54677881, 0.44830802, 0.85336025, 0.89891655, 0.80597524,
       0.74686853, 0.73107979, 0.68306454, 0.88450732, 0.76505155,
       0.79343245, 0.97527318, 0.88648343, 0.61556342, 0.51370608,
       0.61060029, 0.64163209, 0.83862079, 0.4594543 , 0.70441161,
       0.79108745, 0.69342928, 0.64931367, 0.86653828, 0.66403651,
       0.65405687, 0.91466581, 0.63472747, 0.68702429, 0.73946581,
       0.68810459, 0.607318  , 0.94917867, 0.57812183, 0.91800052,
       0.60617334, 0.93067911, 0.60222759, 0.72542584, 0.55043799,
       0.85802969, 0.62139671, 0.74390556, 0.66961687, 0.81207284,
       0.69838299, 0.88799451, 0.68738036, 0.52592237, 0.77372483,
       0.65789255, 0.80718814, 0.54816126, 0.80829743, 0.66894587,
       0.67688439, 0.7196707 , 0.91915605, 0.7080493 , 0.64204533,
       0.6339457 , 0.73672266, 0.68288378, 0.78871428, 0.6191068 ,
       0.93664435, 0.70355812, 0.98966416, 0.83673524, 0.78486646,
       0.84578259, 0.66697912, 0.71407979, 0.65561136, 0.56356341,
       0.81075472, 0.70797376, 0.8174385 , 0.62659562, 0.55369652,
       0.7759224 , 0.73038366, 0.62727777, 0.85278283, 0.69742168,
       0.75594734, 0.8140284 , 0.60787181, 0.72170352, 0.73468395,
       0.55557394, 0.96101641, 0.87086   , 0.6941287 , 0.74224413,
       0.66077524, 0.66795131, 0.65006773, 0.46848419, 0.81572068,
       0.69712953, 0.67548244, 0.57823804, 0.82622871, 0.85922279,
       0.60286248, 0.72882479, 0.66062005, 0.77284044, 0.65660638,
       0.76740847, 0.82470095, 0.74868715, 0.64006815, 0.92632555,
       0.6565764 , 0.84750302, 0.87556432, 0.76485437, 0.63183812,
       0.78093192, 0.78709811, 0.72485223, 0.84408872, 0.64330975,
       0.7722444 , 0.79773195, 0.85123508, 0.85784873, 0.74291048,
       0.81907252, 0.98695484, 0.82188383, 0.85835785, 0.63857556,
       0.68723367, 0.49991587, 0.63453419, 0.77417336, 0.74140254,
       1.00289197, 0.58052825, 0.79332411, 0.48837719, 0.86555942,
       0.84632846, 0.73157963, 0.73023365, 0.93962138, 0.6974148 ,
       0.77594813, 0.7025366 , 0.82955416, 0.64213545, 0.51264968,
       0.7126265 , 0.72335695, 0.79315493, 0.84266694, 0.69930576,
       0.83869377, 0.73928458, 0.65514532, 0.64432626, 0.53879643,
       0.87533394, 0.82301281, 0.77292576, 0.95602528, 0.89012985,
       0.98140504, 0.63328207, 0.54171461, 0.74205905, 0.63762881,
       0.82981034, 0.54112302, 0.74968724, 0.7895308 , 0.78640825,
       0.64194458, 0.80978033, 0.67748135, 0.69054696, 0.90372123,
       0.53599779, 0.54620803, 0.68436936, 0.89092037, 0.58741689,
       0.59077477, 0.75428707, 0.67163542, 0.83777694, 0.70409637,
       0.79661026, 0.65148841, 0.784983  , 0.85053006, 0.73422505,
       0.8292912 , 0.8577006 , 0.91243967, 0.70777453, 0.68539731,
       0.6193574 , 0.88771298, 0.53013952, 0.99403755, 0.65061825,
       0.8441196 , 0.5535161 , 0.6296173 , 0.96803152, 0.73538476,
       0.82901637, 0.7329986 , 0.66666897, 0.60388141, 0.80161553,
       0.62100814, 0.70913393, 0.93326352, 0.69328229, 0.58945442,
       0.69164431, 0.74157177, 0.8863235 , 0.95373368, 0.88630594,
       0.96078982, 0.74948398, 0.48908598, 0.60505015, 0.65138823,
       0.73877836, 0.66618164, 0.8665672 , 0.5831831 , 0.53304555,
       0.78267227, 0.96131065, 0.97939666, 0.9595296 , 0.66824997])

In [30]:
#step 8 model accuracy
from sklearn.metrics import mean_absolute_error,mean_absolute_percentage_error,mean_squared_error,accuracy_score

mean_absolute_error(y_test,y_pred)

0.04719716489664904

In [32]:
mean_absolute_percentage_error(y_test,y_pred)

0.07915863230258122

In [33]:
mean_squared_error(y_test,y_pred)

0.004670811169141577

In [34]:
accuracy_score(y_test,y_pred)

ValueError: continuous is not supported